.pagination {
  display: flex;
  column-gap: 8px;
  list-style-type: none;

}

.page__item {
  list-style-type: none;
  padding: 10px 15px;
  border: 1px solid rgba(51, 51, 51, 0.1);
  color: var(--grey2);
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.page__item:hover {
  color: var(--white);
  background-color: var(--grey2);
}

.page__item--active {
  color: var(--white);
  background-color: var(--blue);
}


