
.catalog-block {
    display: grid;
    gap: 33px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media(min-width: 600px) {
    .catalog-block {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .catalog-block.big {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media(min-width: 800px) {
    .catalog-block {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .catalog-block.big {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media(min-width: 1200px) {
    .catalog-block {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 33px;
    }

    .catalog-block.big {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}





