.header {
  background: var(--grey);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  column-gap: 8px;
}

.header__search {
  width: 210px;
}

.header__nav {
  margin: 0;
}
