.header {
  height: 72px;
  background: var(--grey);
}
.header__container {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-top: 12px;
}
<<<<<<< HEAD
.header__navigation {
  margin-top: 5px;
=======
.header__search {
  margin-top: 22px;
>>>>>>> adf71d553b224125275c11d35feb971ec42ba47a
}
