.search {
  position: relative;
}

.img__search {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.search__input {
  width: 210px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  padding: 8px;
}

.search__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 8px;
  max-height: 200px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 0 4px rgba(0,0,0,0.8);
}
